* {
    padding: 0px;
    margin: 0px;
  }
  
  .background {
    position: relative;
    background-image: url(../image/cyberpunk.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .link {
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 23%;
  }
  
  .link :hover {
    transform: scale(2);
    cursor: pointer;
  }
  
  body {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.5;
    color: turquoise;
  }
  
  .container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
  }
  
  .bar {
    background-color: rgb(107, 50, 212);
    color: yellow;
    height: 90px;
  }
  
  .bar .logo {
    font-size: 100px;
    font-weight: bold;
  }
  
  .bar button {
    font-family: fantasy;
    border: none;
    background: pink;
    padding: 13px 30px;
    border-radius: 20px;
    color: #defe47;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    transition: 0.4s;
  }
  
  .bar button:hover {
    background: #065465;
    color: green;
    transform: scale(1.3);
    cursor: pointer;
  }
  
  .bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .bar button {
    display: inline-flex;
  }
  
  .bar button {
    margin-left: 60px;

  }